.navtext {
  position: relative;
  right: 20px;
}

.link_buttons {
  display: flex;
  width:100%;
}

.yelpy {
  float: right;
}
.yelpy:hover {
  transform: scale(1.5);
}

.Calendar{
    float: inline-start;
    width: 5%;
    cursor: pointer;
    border: none;
    color:rgb(16, 16, 31);
    padding: 15px 32px;
    margin: 5px;

    
}
.Calendar:hover {
  transform: scale(2.0);
}
.Delete{
  float: right;
  border-radius: 0ex;
  width: 5%;
  cursor: pointer;
  margin: 5px ;
  border: none;
  color: rgb(16, 16, 31);
  padding: 15px 32px;
  
}
.Delete:hover {
  transform: scale(1.5);
}

.Buttons{
  float: left;
  display: inline;
}
