.navtext {
  position: relative;
  right: 20px;
}

.link_buttons {
  display: flex;
  width:100%;
}

.yelpy {
  float: right;
}

.Calendar{
    position: abosolute;
    border-radius: 10ex;
    width: 10%;
    cursor: pointer;
}
.Calendar:hover {
  transform: scale(1.5);
}
.Delete {
  border-radius: 10ex;
  width: 10%;
  cursor: pointer;

}
.Delete:hover {
  transform: scale(1.5);
}
